{{>header}}
{{>navbar}}
<main class="container bg-light p-4 rounded my-5 border border-2 border-black">
    <h1 class="tc text-primary display-1 text-uppercase">Shephered Blog</h1>
    <hr>
    <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, repellendus saepe? Ab aliquid
        atque, aut consectetur cumque delectus dolor dolore ea earum facilis hic in ipsa itaque magnam
        molestias nisi perferendis porro, provident quas sit suscipit ullam unde vel! Necessitatibus, nisi,
        sequi! Aliquam architecto consequatur eveniet excepturi libero pariatur recusandae?
    </p>
    <a href="/posts" class="btn btn-primary">More Info</a>
</main>
{{>footer}}
