<footer class="footer container">
    <div class="text-muted text-center">Copyrights reserved by &copy; Mohamed 2021</div>
</footer>
<script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>
